.alert {
  position: absolute;
  top: -2%;
  z-index: 10;
  background-color: rgba(253, 12, 12, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 11px;
  animation: slideInOut 5s ease-in-out forwards;
}
.alert > p {
  margin: 0 20px;
}
@keyframes slideInOut {
  0% {
    transform: translateX(200%);
  }
  10% {
    transform: translateX(90%);
  }
  80% {
    transform: translateX(90%);
  }
  100% {
    transform: translateX(300%);
  }
}

@media (640px <= width) {
}
@media (768px <= width) {
  .alert {
    height: 52px;
  }
}
@media (1024px <= width) {
}
@media (1280px <= width) {
}
