.contactBtn {
  background-color: white;
  width: 80px;
  height: 20px;
  border-radius: 50px;
  color: black;
  font-family: "Futura";
}

.contactBtn > a {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 1px;
}

.contactBtn__text {
  font-size: 10px;
}

.contactBtn__icon {
  width: 11px;
  height: 13px;
}

/* @media (490px <= width) {
  .contactBtn {
    width: 100px;
    height: 30px;
  }
  .contactBtn__icon {
    width: 17px;
    height: 20px;
  }
  .contactBtn__text {
    font-size: var(--font-size-micro);
  }
} */

@media (640px <= width) {
  .contactBtn {
    width: 120px;
    height: 30px;
  }
  .contactBtn__text {
    font-size: 13px;
  }
  .contactBtn > a {
    column-gap: 5px;
  }
}

@media (768px <= width) {
  .contactBtn {
    width: 150px;
    height: 35px;
  }
  .contactBtn__text {
    font-size: 17px;
  }
  .contactBtn > a {
    column-gap: 6px;
  }
}

@media (1024px <= width) {
  .contactBtn {
    width: 191.405px;
    height: 44.859px;
  }
  .contactBtn__icon {
    width: 22px;
    height: 22px;
  }
  .contactBtn__text {
    font-size: 21px;
  }
  .contactBtn > a {
    column-gap: 10px;
  }
}

@media (1280px <= width) {
  /* .contactBtn > a {
    column-gap: 10px;
  } */
}
