.ourTeam_container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.ourTeam_container > h2 {
  font-size: var(--font-size-base);
  color: var(--custom-color-green);
  text-align: center;
}
.ourTeam_container > p {
  text-align: center;
  max-width: 880px;
  font-size: 22px;
  line-height: 35px;
  font-weight: 500;
  margin-bottom: 20px;
  font-family: var(--font-futura);
}

.button {
}

.ourTeam__leave__one {
  display: none;
}

.ourTeam__leave__two {
  display: none;
}

.ourTeam__leave__three {
  display: none;
}

@media (640px <= width) {
  .ourTeam_container > h2 {
    font-size: var(--font-size-title-8);
  }
  .ourTeam_container > p {
    font-size: var(--font-size-tiny);
    margin-bottom: 50px;
  }
  .button {
    margin-top: 40px;
  }
}
@media (768px <= width) {
  .ourTeam_container > h2 {
    font-size: var(--font-size-title-7);
  }
  .ourTeam_container > p {
    font-size: var(--font-size-small);
    margin-bottom: 50px;
  }
}
@media (1024px <= width) {
  .ourTeam_container > h2 {
    font-size: var(--font-size-title-6);
  }
  .ourTeam_container > p {
    font-size: var(--font-size-base);
    margin-bottom: 50px;
  }
  .ourTeam__leave__one {
    display: block;
    position: absolute;
    width: 197.599px;
    height: 231.024px;
    left: -3%;
    top: 50%;
    transform: translateY(-75%) rotate(-21deg);
  }
  .ourTeam__leave__two {
    display: block;
    position: absolute;
    width: 201px;
    height: 235px;
    bottom: -10%;
    right: 3%;
    transform: rotate(95deg);
    z-index: 10;
  }
  .ourTeam__leave__three {
    display: block;
    position: absolute;
    width: 289.652px;
    height: 151.055px;
    right: -23%;
    top: 50%;
    transform: rotate(130deg) translateY(130%);
    z-index: 10;
  }
}
@media (1280px <= width) {
  .ourTeam_container {
    /* margin-top: 220px; */
  }
  .ourTeam_container > h2 {
    font-size: var(--font-size-title-5);
  }
  .ourTeam_container > p {
    font-size: var(--font-size-medium);
    margin-bottom: 50px;
  }
  .button {
    margin-top: 40px;
  }
  .ourTeam__leave__one {
    left: -3%;
    top: 50%;
    transform: translateY(-95%) rotate(-21deg);
  }
  .ourTeam__leave__two {
    bottom: -10%;
    right: -5%;
    transform: rotate(95deg);
    z-index: 10;
  }
  .ourTeam__leave__three {
    right: -22%;
    top: 50%;
    transform: rotate(130deg) translateY(149%);
  }
}
@media (1536px <= width) {
}
