.heroMetrics_container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-blend-mode: color-dodge;
  border-radius: 16px;
  height: 436px;
}

.heroMetrics_title {
  position: relative;
  height: 112px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.heroMetrics_title > h2 {
  width: 70%;
  font-size: large;
  text-align: center;
  line-height: 25.75px;
  padding-bottom: 9px;
  white-space: pre-line;
}

.bg_deg {
  position: absolute;
  width: 105%;
  height: 90%;
  background: linear-gradient(to bottom, #0b0033a7, #290066);
  opacity: 0.7;
  background-blend-mode: color-dodge;
  top: 10%;
}

@media (640px <= width) {
  .heroMetrics_container {
    height: 500px;
  }
  .heroMetrics_title {
    width: 100%;
  }
  .heroMetrics_title > h2 {
    width: 90%;
    margin-top: 30px;
    margin-bottom: 34px;
    font-size: var(--font-size-big);
    line-height: 38.66px;
  }
}

@media (768px <= width) {
  .heroMetrics_title > h2 {
    width: 80%;
    margin-top: 30px;
    margin-bottom: 34px;
    font-size: var(--font-size-title-10);
  }
}

@media (1024px <= width) {
  .heroMetrics_title > h2 {
    width: 80%;
    margin-top: 30px;
    margin-bottom: 34px;
    font-size: var(--font-size-title-9);
  }
}

@media (1280px <= width) {
  .heroMetrics_container {
    height: 523px;
    border-radius: 40px;
  }
  .heroMetrics_title {
    margin-bottom: 40px;
  }
  .heroMetrics_title > h2 {
    width: 75%;
    margin-top: 50px;
    font-size: var(--font-size-title-8);
    line-height: 51.66px;
  }
  .bg_deg {
    height: 80%;
  }
}

@media (1536px <= width) {
}
