.hero__section {
  margin-bottom: 111px;
}
.hero__container {
  display: grid;
  height: auto;
  grid-template-columns: repeat(12, 1fr);
}

.hero__text__title {
  margin-top: 30px;
  position: relative;
}

.hero__text__title > h2 {
  font-size: var(--font-size-large);
  line-height: 25.75px;
  width: 169px;
  margin-bottom: 20px;
}

.hero__text__title > p {
  font-size: 11px;
  line-height: 16.5px;
  width: 177px;
  font-family: var(--font-futura);
  font-family: "Futura";
  text-align: justify;
  
}

/* -------avatar card--------- */

.hero__avatarCards {
  position: relative;
  height: 223px;
  grid-column: 4 / 13;
  align-self: center;
}

.hero__avatarCards__bg {
  position: absolute;
  top: -10%;
  height: 100%;
  width: 150%;
  background: linear-gradient(
    180deg,
    rgba(217, 217, 217, 0.17) 0%,
    rgba(93, 38, 183, 0) 100%
  );
  left: 45%;
  transform: translateX(-50%);
}

.avatar__man__card {
  position: absolute;
  width: 82.84px;
  height: 114.361px;
  left: 50%;
  top: 40%;
  transform: translateX(-50%) translateY(-50%);
}

/* -----..insides -------- */

.hero__insides__container {
  position: relative;
  grid-column: 1 / 13;
  grid-row: 3 / 4;
  justify-self: center;
  /* border: 1px solid white; */
}
.hero__inside__leave {
  position: absolute;
  width: 50px;
  top: -10%;
  right: 2%;
}

/* -------social media--------- */

.hero__socialMedia__container {
  grid-column: 1 / 13;
  grid-row: 2 / 3;
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}

.socialMedia__icons__container {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 5px;
}

.hero__socialMedia__container > p {
  font-size: 15px;
}

.socialMedia__icons__container > a {
  display: block;
  width: 22px;
  height: 22px;
}

.hero__avatarCards__bg__purple {
  position: absolute;
  width: 800.832px;
  height: 550.12px;
  border-radius: 1119.832px;
  background: #5a2eea;
  filter: blur(6000px);
  border: 1px solid white;
  opacity: 0.7;
  z-index: -20;
  top: 50%;

  transform: translateY(-50%);
}
.hero__avatarCards__bg__green {
  position: absolute;
  width: 371px;
  height: 271px;
  border-radius: 571px;
  background: #2eea79;
  filter: blur(200px);
  opacity: 0.8;
  z-index: -10;
  left: -90%;
}

@media (400px <= width) {
  .hero__text__title > h2 {
    width: 189.6px;
  }

  .hero__text__title > p {
    width: 180px;
  }
}
@media (450px <= width) {
  .hero__text__title > h2 {
    width: 226.35px;
    font-size: 27px;
  }

  .hero__text__title > p {
    width: 227.88px;
    font-size: 12px;
  }
}

@media (640px <= width) {
  .hero__text__title {
    grid-column: 1 / 7;
    height: 330px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .hero__avatarCards__bg {
    top: -30%;
    width: 110%;
    left: 55%;
  }
  .hero__avatarCards {
    grid-column: 7 / 13;
  }
  .hero__text__title > h2 {
    width: 300px;
    font-size: var(--font-size-title-10);
    line-height: 37.89px;
  }
  .hero__text__title > p {
    font-size: var(--font-size-tiny);
    width: 300px;
    line-height: 21.5px;
  }

  .hero__socialMedia__container {
    margin: 0;
    grid-row: 8 / 9;
    grid-column: 1/7;
  }
  .hero__insides__container {
    grid-row: 7 / 8;
    grid-column: 1 / 7;
  }
  .hero__inside__leave {
    width: 70px;
    top: -30%;
    right: -5%;
  }
  .hero__avatarCards__bg__purple {
    position: absolute;
    width: 1119.832px;
    height: 850.12px;
    border-radius: 1119.832px;
    background: #5a2eea;
    filter: blur(6000px);
    opacity: 0.7;
    z-index: -20;
    top: 50%;
    transform: translateY(-50%);
  }
  .hero__avatarCards__bg__green {
    position: absolute;
    width: 571px;
    height: 571px;
    border-radius: 571px;
    background: #2eea79;
    filter: blur(200px);
    opacity: 0.8;
    z-index: -10;
    left: -150%;
  }
}
@media (768px <= width) {
  .hero__container {
    margin-top: 80px;
    height: 650px;
  }

  .hero__text__title {
    height: auto;
    grid-row: 2 /6;
  }
  .hero__socialMedia__container {
    margin: 0;
    grid-row: 8 / 9;
    grid-column: 1/7;
  }
  .hero__insides__container {
    grid-row: 7 / 8;
    grid-column: 1 / 7;
  }
  .hero__text__title > h2 {
    width: 400px;
    font-size: 55px;
    line-height: 53px;
  }
  .hero__text__title > p {
    font-size: var(--font-size-small);
    width: 400px;
    line-height: 24.5px;
  }
  .hero__avatarCards {
    height: 100%;
    grid-row: 1 / 9;
  }
  .hero__inside__leave {
    width: 70px;
  }
  .hero__avatarCards__bg__green {
    left: -160%;
  }
}
@media (1024px <= width) {
  .hero__text__title > h2 {
    width: 600px;
    font-size: 58px;
    line-height: 54.65px;
  }
  .hero__text__title > p {
    font-size: var(--font-size-base);
    width: 540px;
    line-height: 26.78px;
  }
  .hero__inside__leave {
    position: absolute;
    width: 90px;
    top: -50%;
    right: -10%;
  }
  .hero__avatarCards__bg__purple {
    right: -100%;
    opacity: 1;
  }
}
@media (1280px <= width) {
  .hero__container {
    height: 800px;
    margin-top: 30px;
  }
  .hero__text__title {
    height: auto;
    grid-row: 2 /7;
  }
  .hero__text__title > h2 {
    width: 600px;
    font-size: 60px;
    line-height: 69px;
  }
  .hero__text__title > p {
    font-size: var(--font-size-medium);
    width: 600px;
    line-height: 33px;
  }

  .hero__insides__container {
    grid-row: 7 / 8;
  }
  .hero__socialMedia__container {
    grid-row: 8 / 9;
  }
  .socialMedia__icons__container {
    column-gap: 11px;
  }
  .socialMedia__icons__container > a {
    width: 40px;
    height: 40px;
  }
}
