.ourService__section {
  position: relative;
  margin-bottom: clamp(
    56px,
    calc(56px + (228.86 - 56) * ((80vw - 360px) / (1200 - 360))),
    228.86px
  );
}
.ourServices_title {
  position: relative;
  width: 100%;
  margin-bottom: 21px;
}
.ourServices_title > h2 {
  text-align: center;
  font-size: clamp(
    25px,
    calc(25px + (62 - 25) * ((80vw - 360px) / (1200 - 360))),
    62px
  );
  line-height: clamp(
    25.75px,
    calc(25.75px + (93 - 25.75) * ((80vw - 360px) / (1200 - 360))),
    93px
  );

  background: linear-gradient(to bottom right, #fff 0%, #999 50%) bottom right /
      50% 50% no-repeat,
    linear-gradient(to bottom left, #fff 0%, #999 50%) bottom left / 50% 50%
      no-repeat,
    linear-gradient(to top left, #fff 0%, #999 50%) top left / 50% 50% no-repeat,
    linear-gradient(to top right, #fff 0%, #999 50%) top right / 50% 50%
      no-repeat;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.cards_container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 100px;
  row-gap: 42px;
}

.icon {
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.purple_circle {
  display: none;
}

.leave__one {
  display: none;
}

.leave__two {
  display: none;
}

@media (640px <= width) {
  .ourServices_title > h2 {
    font-size: var(--font-size-title-10);
    line-height: 39.75px;
  }
  .cards_container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    margin: 0 auto;
    column-gap: 20px;
  }
  .icon {
    width: 200px;
  }
  .purple_circle {
    display: block;
    position: absolute;
    width: 571px;
    height: 571px;
    flex-shrink: 0;
    border-radius: 571px;
    background: #5a2eea;
    filter: blur(200px);
    top: -180%;
    left: -20%;
    z-index: -1;
  }
}
@media (768px <= width) {
  .cards_container {
    flex-direction: row;
    column-gap: 20px;
    row-gap: 55px;
  }
  .ourServices_title > h2 {
    font-size: var(--font-size-title-8);
    line-height: 55.75px;
  }
  .purple_dot {
    position: absolute;
    display: block;
    width: 198px;
    height: 198px;
    flex-shrink: 0;
    background: rgba(102, 96, 255, 0.86);
    filter: blur(44.349998474121094px);
    z-index: -1;
    right: -6%;
    bottom: 4%;
  }
}
@media (1024px <= width) {
  .cards_container {
    column-gap: 40px;
    max-width: none;
  }
  .ourServices_title {
    margin-bottom: 43px;
  }
  .ourServices_title > h2 {
    font-size: var(--font-size-title-7);
    line-height: 69.7px;
  }
  .leave__one {
    display: block;
    position: absolute;
    width: 345.502px;
    height: auto;
    bottom: -24%;
    left: -8%;
  }
  .leave__two {
    display: block;
    position: absolute;
    width: 161.502px;
    bottom: -120px;
    right: 0%;
  }
}
@media (1280px <= width) {
  .cards_container {
  }
  .ourServices_title {
  }
  .ourServices_title > h2 {
    font-size: 62px;
    line-height: 79.95px;
  }
}
