.ourServices_title {
  position: relative;
  width: 100%;
  height: 140rem;
  margin-top: 54rem;
}

.ourServices_title > h2 {
  font-size: var(--font-size-large);
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  line-height: 25.75px;
  background: linear-gradient(to bottom right, #fff 0%, #999 50%) bottom right /
      50% 50% no-repeat,
    linear-gradient(to bottom left, #fff 0%, #999 50%) bottom left / 50% 50%
      no-repeat,
    linear-gradient(to top left, #fff 0%, #999 50%) top left / 50% 50% no-repeat,
    linear-gradient(to top right, #fff 0%, #999 50%) top right / 50% 50%
      no-repeat;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.cards_container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 100rem;
  row-gap: 42rem;
}
.purple_circle {
  position: absolute;
  width: 571px;
  height: 571px;
  flex-shrink: 0;
  border-radius: 571px;
  background: #5a2eea;
  filter: blur(200px);
  border: 1rem solid white;
  top: -180%;
  left: -20%;
  z-index: -1;
}

.leave_one {
  display: none;
}
.leave_two {
  display: none;
}

.purple_dot {
  display: none;
}

@media (640px <= width) {
  .ourServices_title {
    margin-top: 74rem;
  }
  .ourServices_title > h2 {
    font-size: var(--font-size-title-8);
    line-height: 39.75rem;
  }
}
@media (768px <= width) {
  .ourServices_title {
    margin-top: 104rem;
    height: 270rem;
  }
  .ourServices_title > h2 {
    font-size: var(--font-size-title-7);
    line-height: 65.75px;
  }
  .cards_container {
    flex-direction: row;
    column-gap: 20rem;
  }
  .purple_dot {
    position: absolute;
    display: block;
    width: 198px;
    height: 198px;
    flex-shrink: 0;
    background: rgba(102, 96, 255, 0.86);
    filter: blur(44.349998474121094px);
    z-index: -1;
    right: -6%;
    bottom: 4%;
  }
}
@media (1024px <= width) {
  .ourServices_title {
    margin-top: 180rem;
  }
  .ourServices_title > h2 {
    font-size: var(--font-size-title-2);
    line-height: 79.7rem;
  }
  .leave_one {
    position: absolute;
    display: inline-block;
    right: -2.5%;
    top: -5%;
  }
  .leave_two {
    position: absolute;
    display: inline-block;
    bottom: -29%;
    left: -4%;
  }
}
@media (1280px <= width) {
  .ourServices_title {
    margin-top: 238rem;
    height: 300rem;
  }
  .ourServices_title > h2 {
    width: 110%;
    font-size: var(--font-size-title-1);
    line-height: 79.95rem;
  }
}
