.cardOurService_container {
  width: 328px;
  height: 226px;
  border-radius: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title__container {
  width: 80%;
}

.title__container > h3 {
  text-align: center;
  color: #19dbca;
  font-size: clamp(
    var(--title-mobile-secondary),
    calc(
      var(--title-mobile-secondary) + (40 - 20) *
        ((90vw - 360px) / (1200 - 360))
    ),
    var(--title-desktop-tertiary)
  );
  line-height: clamp(
    20.6px,
    calc(20.6px + (42.8 - 20.6) * ((100vw - 360px) / (1200 - 360))),
    42.8px
  );
  margin: 10px 0;
  font-family: var(--font-grandis);
}

.description {
  width: 70%;
  display: flex;
  justify-content: center;
}

.description > p {
  text-align: center;
  font-size: clamp(
    var(--paragraph-mobile),
    calc(var(--paragraph-mobile) + (32 - 14) * ((80vw - 360px) / (1200 - 360))),
    var(--paragraph-desktop)
  );
  line-height: clamp(
    24px,
    calc(24px + (48 - 24) * ((80vw - 360px) / (1200 - 360))),
    48px
  );

  font-family: "Futura";
  width: 100%;
  font-weight: 500;
}

@media (640px <= width) {
  .cardOurService_container {
    width: 100%;
    height: 256px;
  }
  .description {
    width: 90%;
  }
}

@media (768px <= width) {
  .cardOurService_container {
    height: 300px;
  }
}

@media (1024px <= width) {
  .cardOurService_container {
    height: 326px;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    column-gap: 30px;
    padding-top: 20px;
  }
  .title__container {
    order: -1;
    height: 97px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .title__container > h3 {
    margin: 0;
  }
  .cardOurService_container > img {
    width: 170px;
  }
  .description {
    width: 40%;
  }
  .description > p {
    text-align: justify;
  }
}

@media (1280px <= width) {
  .cardOurService_container {
    height: 363px;
    column-gap: 26px;
    row-gap: 0;
  }
  .cardOurService_container > img {
    width: 200px;
  }
  .title__container {
    width: 100%;
  }

  .description {
    width: 45%;
  }
}
