.message__container {
  height: 60vh;
  border-radius: 18px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 0.5px solid rgba(145, 145, 145, 0.68);
  background: linear-gradient(
    270deg,
    rgba(217, 217, 217, 0.29) 0%,
    rgba(115, 115, 115, 0) 100%
  );
}
.message__container > h2 {
  font-size: 45px;
}

.message__container > p {
  font-size: 12px;
  text-align: center;
  line-height: 17px;
  width: 80%;
  margin-bottom: 29px;
  font-family: var(--font-urbanist);
}

.message__container > button {
  /* ; */
  width: 122px;
  height: 51px;
  border-radius: 32px;
  margin-bottom: 29px;
  font-size: 11px;
}

.message__container > span {
  font-size: 15px;
}

.icons__container {
  display: flex;
  column-gap: 12px;
}

.icons__container > a {
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  background: linear-gradient(127deg, #995af0 18.95%, #6d0cbc 90.47%);
}

@media (640px <= width) {
  .message__container > h2 {
    font-size: 54px;
  }
  .message__container > p {
    font-size: 19px;
    line-height: 26px;
  }
  .message__container > button {
    width: 200px;
    font-size: 16px;
  }
}
@media (768px <= width) {
  .message__container {
    height: 80vh;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    border-bottom-left-radius: 18px;
    border-bottom-right-radius: 18px;
  }
  .message__container > h2 {
    font-size: 86px;
  }
  .message__container > p {
    font-size: 20px;
  }
}
@media (1024px <= width) {
  .message__container > button {
    width: 353px;
    border-radius: 15px;
    font-size: 22px;
  }
}
@media (1280px <= width) {
  .message__container > h2 {
    font-size: 100px;
    line-height: 119px;
  }

  .message__container > p {
    font-size: 22px;
    text-align: center;
    line-height: 33px;
    width: 60%;
    margin-bottom: 25px;
  }
  .message__container > span {
    font-size: 22px;
  }
}
