.carrucel {
  display: flex;
  align-items: center;
  flex-direction: column;
  max-height: 400rem;
}

.view_slices {
  display: flex;
  align-items: center;
}

.button {
  height: fit-content;
  width: 40rem;
}

.bullets_container {
  margin-top: 20rem;
}

.bullet {
  display: inline-block;
  width: 15rem;
  height: 15rem;
  margin: 0 5px;
  border-radius: 50%;
  cursor: pointer;
  background: rgba(255, 255, 255, 0.2);
  border: 3rem solid #dad7d7;
}

.bullet.active {
  background: white;
}

@media (425px <= width) {
}
@media (640px <= width) {
}
@media (768px <= width) {
}
@media (1024px <= width) {
  .carrucel {
    width: 98%;
  }
  .view_slices {
    width: 100%;
  }
}
@media (1280px <= width) {
  .carrucel {
    width: 108%;
  }
  .view_slices {
    width: 100%;
  }
}
