.overviewCard__card__container {
  width: 100%;
  height: 100%;
  display: flex;
  column-gap: 5px;
}

.number > p {
  font-size: 12px;
}
.overviewCard__text_container {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
}
.overviewCard__text_container > h3 {
  font-size: 12px;
}
.overviewCard__text_container > p {
  font-size: 11px;
  font-family: var(--font-futura);
  font-weight: 500;
}

@media (640px <= width) {
  .number > p {
    font-size: 22px;
  }
  .overviewCard__text_container > h3 {
    font-size: 22px;
    line-height: 25.78px;
  }
  .overviewCard__text_container > p {
    font-size: 14px;
  }
}
@media (768px <= width) {
  .number > p {
    font-size: 27px;
  }
  .overviewCard__text_container > h3 {
    font-size: 27px;
    line-height: 29.78px;
  }
  .overviewCard__text_container > p {
    font-size: 17px;
  }
}
@media (1024px <= width) {
  .number > p {
    font-size: 30px;
    line-height: 28.43px;
  }
  .overviewCard__text_container > h3 {
    font-size: 30px;
    line-height: 32.43px;
  }
  .overviewCard__text_container > p {
    font-size: 20px;
  }
}
@media (1280px <= width) {
  .number > p {
    font-size: 32px;
  }
  .overviewCard__text_container > h3 {
    font-size: 32px;
  }
  .overviewCard__text_container > p {
    font-size: 22px;
    line-height: 33px;
  }
}
