.header {
  position: fixed;
  z-index: 50;
  width: 100%;
  font-family: "Futura", sans-serif;
  display: none;
  background: linear-gradient(
    180deg,
    rgba(26, 2, 88, 1) 0%,
    rgba(87, 62, 151, 0) 100%
  );
  font-size: var(--font-size-petite);
  color: var(--dumme-color);
}

.header__navbar {
  height: 79rem;
  max-width: 1240px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0;
  padding-right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__navbarLeft {
  width: fit-content;
  display: flex;
  column-gap: 24rem;
}

.header__logo {
  position: absolute;
  top: 26%;
  left: 50%;
  transform: translateX(-50%);
  width: 186rem;
}

@media (640px <= width) {
}

@media (768px <= width) {
  .header {
    display: inline-block;
    padding: 0 16rem;
  }
}

@media (1024px <= width) {
  .header__item{
    font-size: 20rem;
  }
}

@media (1280px <= width) {
}
