.header {
  position: fixed;
  z-index: 50;
  width: 100%;
  display: none;
  background: linear-gradient(
    180deg,
    rgba(26, 2, 88, 1) 0%,
    rgba(27, 3, 90, 0.98) 2%,
    rgba(28, 3, 90, 0.97) 5%,
    rgba(29, 5, 91, 0.95) 7%,
    rgba(34, 9, 96, 0.92) 9%,
    rgba(36, 11, 99, 0.87) 13%,
    rgba(39, 14, 101, 0.84) 17%,
    rgba(39, 14, 101, 0.84) 20%,
    rgba(41, 16, 103, 0.79) 23%,
    rgba(42, 17, 105, 0.76) 28%,
    rgba(45, 20, 108, 0.69) 35%,
    rgba(49, 25, 112, 0.62) 38%,
    rgba(50, 26, 113, 0.6) 42%,
    rgba(53, 28, 116, 0.55) 48%,
    rgba(57, 32, 120, 0.44) 54%,
    rgba(64, 39, 128, 0.37) 62%,
    rgba(68, 43, 131, 0.32) 67%,
    rgba(72, 47, 135, 0.25) 74%,
    rgba(75, 49, 138, 0.2) 79%,
    rgba(78, 53, 142, 0.14) 85%,
    rgba(83, 58, 147, 0.2) 93%
  );
  font-size: var(--font-size-petite);
  color: var(--dumme-color);
  font-family: var(--font-urbanist);
}

.header__navbar {
  height: 79px;
  max-width: 1240px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0;
  padding-right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__navbarLeft {
  width: fit-content;
  display: flex;
  column-gap: 24px;
}

.header__logo {
  display: block;
  position: absolute;
  width: 196px;
  top: 26%;
  left: 50%;
  transform: translateX(-50%);
}

@media (640px <= width) {
}

@media (768px <= width) {
  .header__logo {
    width: 150px;
  }
  .header {
    display: inline-block;
    padding: 0 16px;
  }
  .header__item {
    font-size: 16px;
  }
}

@media (1024px <= width) {
  .header__logo {
    width: 196px;
  }
  .header__item {
    font-size: 18px;
  }
}

@media (1280px <= width) {
  .header__item {
    font-size: 20px;
  }
}
