.fade__text__container {
    position: relative;
    overflow-y: auto;
    height: 256px;
    /* Cambia según tus necesidades */
    mask-image: linear-gradient(to bottom, transparent, black 10%, black 90%, transparent);
    -webkit-mask-image: linear-gradient(to bottom, transparent, black 10%, black 90%, transparent);
}