.testimonial__section {
  padding-top: clamp(
    41px,
    calc(41px + (228.9 - 41) * ((80vw - 360px) / (1200 - 360))),
    228.9px
  );
}

.title_container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 14px;
}

.title_container > h2 {
  text-align: center;
  font-size: clamp(
    var(--title-mobile-secondary),
    calc(
      var(--title-mobile-secondary) + (40 - 20) *
        ((90vw - 360px) / (1200 - 360))
    ),
    var(--title-desktop-tertiary)
  );
  line-height: clamp(
    20.6px,
    calc(20.6px + (41.2 - 20.6) * ((90vw - 360px) / (1200 - 360))),
    41.2px
  );
}

.button {
  background-color: #d9d9d95e;
  border: 1px solid white;
  font-size: var(--font-size-micro);
  padding: 6px 15px;
  border-radius: 50px;
  margin-top: 14px;
  font-family: "Futura", var(--font-futura);
}

@media (425px <= width) {
  .title_container {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 35px;
  }
  .button {
    margin-top: 0;
  }
}
@media (640px <= width) {
}
@media (768px <= width) {
}
@media (1024px <= width) {
}
@media (1280px <= width) {
  .button {
    font-size: var(--font-size-medium);
  }
}
