.headerMobile {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 79px;
  width: 100%;
  background: linear-gradient(180deg, #1a0258 0%, rgba(87, 62, 151, 0) 100%);
}
.headerMobile__burger {
  position: absolute;
  top: 50%;
  left: 5%;
  transform: translateY(-50%);
}

.headerMobile__contactUsBtn {
  position: absolute;
  right: 4%;
  top: 50%;

  transform: translateY(-50%);
}

@media (640px <= width) {
}

@media (768px <= width) {
  .headerMobile {
    display: none;
  }
}

@media (1024px <= width) {
}

@media (1280px <= width) {
}
