.whatWeBuild_container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}

.foco {
  width: 50px;
  height: 50px;
}

.whatWeBuild_title {
  position: relative;
  width: 100%;
  height: 180px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  font-size: var(--font-size-large);
}

.whatWeBuild_title > h2 {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  background: linear-gradient(to bottom right, #fff 0%, #999 50%) bottom right /
      50% 50% no-repeat,
    linear-gradient(to bottom left, #fff 0%, #999 50%) bottom left / 50% 50%
      no-repeat,
    linear-gradient(to top left, #fff 0%, #999 50%) top left / 50% 50% no-repeat,
    linear-gradient(to top right, #fff 0%, #999 50%) top right / 50% 50%
      no-repeat;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.picture_container {
  position: relative;
}

.leave {
  display: none;
}

.green_circle {
}
.purple_circle {
}
@media (640px <= width) {
  .foco {
    width: 80px;
    height: 80px;
  }
  .whatWeBuild_title {
    height: 250px;
    font-size: var(--font-size-title-10);
  }
  .green_circle {
    position: absolute;
    width: 571px;
    height: 571px;
    flex-shrink: 0;
    border-radius: 571px;
    background: #2eea7988;
    filter: blur(200px);
    right: -30%;
    top: -13%;
  }
  .purple_circle {
    position: absolute;
    width: 571px;
    height: 571px;
    flex-shrink: 0;
    border-radius: 571px;
    background: #5a2eea98;
    filter: blur(200px);
    left: -20%;
    top: -25%;
  }
}
@media (768px <= width) {
  .whatWeBuild_title {
    height: 300px;
    font-size: var(--font-size-title-8);
  }
}
@media (1024px <= width) {
  .foco {
    width: 150px;
    height: 150px;
  }
  .whatWeBuild_title {
    height: 280px;
  }
  .whatWeBuild_title > h2 {
    width: 130%;
  }
  .leave {
    display: block;
    position: absolute;
    right: -4%;
    top: -4%;
    transform: rotate(-150deg);
    z-index: -1;
  }
}
@media (1280px <= width) {
  .whatWeBuild_title {
    height: 320px;
    font-size: var(--font-size-title-6);
  }
  .whatWeBuild_title > h2 {
    width: 130%;
  }
  .leave {
    top: -5%;
  }
}
