.whatWeBuild__section {
  margin-bottom: 90px;
}

.whatWeBuild_container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}

.foco {
  width: 50px;
  height: 50px;
}

.whatWeBuild__title__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.whatWeBuild__title__container > h2 {
  text-align: center;
  font-size: var(--font-size-large);
  background: linear-gradient(to bottom right, #fff 0%, #999 50%) bottom right /
      50% 50% no-repeat,
    linear-gradient(to bottom left, #fff 0%, #999 50%) bottom left / 50% 50%
      no-repeat,
    linear-gradient(to top left, #fff 0%, #999 50%) top left / 50% 50% no-repeat,
    linear-gradient(to top right, #fff 0%, #999 50%) top right / 50% 50%
      no-repeat;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  white-space: pre-wrap;
}

.picture_container {
  position: relative;
}

.leave {
  display: none;
}

.green_circle {
}
.purple__circle {
}

@media (640px <= width) {
  .whatWeBuild__title__container {
    margin-bottom: 42px;
  }
  .foco {
    width: 80px;
    height: 80px;
  }
  .green_circle {
    position: absolute;
    width: 571px;
    height: 571px;
    flex-shrink: 0;
    border-radius: 571px;
    background: #2eea79;
    filter: blur(200px);
    right: -30%;
    top: -13%;
    z-index: -1;
  }
  .purple__circle {
    position: absolute;
    width: 571px;
    height: 571px;
    flex-shrink: 0;
    border-radius: 571px;
    background: #5a2eea98;
    filter: blur(200px);
    left: -20%;
    top: -25%;
  }
}
@media (768px <= width) {
}
@media (1024px <= width) {
  .whatWeBuild__section {
    margin-bottom: 206px;
  }

  .foco {
    width: 150px;
    height: 150px;
  }
  .whatWeBuild__title__container > h2 {
  }
  .leave {
    display: block;
    position: absolute;
    right: -2.4%;
    top: -3.5%;
    z-index: -1;
  }
}
@media (1280px <= width) {
  .whatWeBuild__title__container > h2 {
    font-size: 60px;
    line-height: 76.26px;
  }
  .leave {
    top: -5%;
  }
}
