.stars__container {
  display: flex;
  column-gap: 5px;
}

.star {
  width: 11px;
}

@media (640px <= width) {
  .stars__container {
    column-gap: 7px;
  }
  .star {
    width: 18px;
  }
}
@media (768px <= width) {
  .stars__container {
    column-gap: 9px;
  }
  .star {
    width: 22.5px;
  }
}
@media (1024px <= width) {
  .stars__container {
    column-gap: 12px;
  }
  .star {
    width: 32.4px;
  }
}
@media (1280px <= width) {
  .stars__container {
    column-gap: 15px;
  }
  .star {
    width: 38.7px;
  }
}
