.terms__section {
  padding-top: 97px;
  font-family: "Futura";
  margin-bottom: 50px;
}
.terms__container strong:first-child {
  display: inline-block;
  font-size: clamp(
    var(--title-mobile-primary),
    calc(
      var(--title-mobile-primary) + (65 - 25) * ((90vw - 360px) / (1200 - 360))
    ),
    var(--title-desktop-primary)
  );
  margin-bottom: 20px;
}

.terms__container > p {
  font-size: clamp(
    var(--paragraph-mobile),
    calc(var(--paragraph-mobile) + (22 - 14) * ((90vw - 360px) / (1200 - 360))),
    var(--secondary-text-desktop)
  );
  text-align: justify;
}

.terms__container > h2 {
  font-size: clamp(
    var(--title-mobile-tertiary),
    calc(
      var(--title-mobile-tertiary) + (32 - 16) * ((90vw - 360px) / (1200 - 360))
    ),
    var(--paragraph-desktop)
  );
  padding-top: 70px;
}
@media (640px <= width) {
}
@media (768px <= width) {
}
@media (1024px <= width) {
}
@media (1280px <= width) {
}
