.footer {
  width: 100%;
  height: 382rem;
  background: #0e032a89;
  display: flex;
  flex-direction: column;
}

.footer_menu_container {
  max-width: 1240px;
  width: 100%;
  margin: 0 auto;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 16rem;
}

.footer_search_container {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 20rem;
}

.input_container {
  border: 1rem solid white;
  background-color: #0e032a;
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 14rem 20rem;
  border-radius: 8rem;
}

.input_container > input {
  font-size: var(--font-size-petite);
  background-color: transparent;
  border: none;
  flex-grow: 1;
}

.footer_linklist_container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: start;
}

.mobile_menu {
  width: 100%;
  font-size: var(--font-size-micro);
  font-family: "Futura";
  color: #999;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-top: 19rem;
  gap: 10rem 110rem;
}

.desk_menu {
  display: none;
}

.logo_desk {
  display: none;
}

.logo_mobile {
  display: inline-block;
  margin-bottom: 15rem;
}

.footer_terms_container {
  width: 100%;
  background: #0e032a;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Futura";
}

.footer_terms_container > div {
  width: 100%;
  max-width: 1240px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 16rem;
}

.social_media_icon {
  width: 25rem;
}

.social_text_container {
  font-size: 8rem;
  display: flex;
  column-gap: 20rem;
  padding: 10rem 0;
}

.social_icons_container {
  display: flex;
  column-gap: 8rem;
}

@media (640px <= width) {
}

@media (768px <= width) {
  .footer {
    height: 482rem;
  }
  .footer_menu_container {
    padding: 0 30rem;
  }
  .mobile_menu {
    display: none;
  }
  .desk_menu {
    width: 100%;
    font-family: "Futura";
    display: flex;
    justify-content: space-between;
  }
  .footer_search_container {
    margin: 35rem 0;
  }
  .logo_desk {
    display: inline-block;
  }
  .logo_mobile {
    display: none;
  }
  .social_text_container {
    font-size: var(--font-size-petite);
    padding: 16rem;
  }
  .social_media_icon {
    width: 40rem;
  }
}

@media (1024px <= width) {
  .footer_menu_container {
    flex-direction: row;
    padding: 0 16rem;
    column-gap: 26rem;
  }
  .footer_search_container {
    height: 100%;
    max-width: 300rem;
    padding-top: 100rem;
  }
  .footer_linklist_container {
    justify-content: center;
    align-items: center;
  }
  .desk_menu {
    column-gap: 0rem;
  }
}

@media (1280px <= width) {
  .input_container > input {
    /* font-size: var(--font-size-petite);
      background-color: transparent;
      border: none;
      flex-grow: 1; */
  }

  .desk_menu {
    column-gap: 85rem;
  }
}
