.success__section {
  width: 100%;
  height: 70vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.success__section > div {
  position: relative;
  width: 100%;
}

.leave__one {
  position: absolute;
  right: -7%;
  top: 8%;
  width: 167.063px;
  height: 68.415px;
  transform: rotate(135deg);
  z-index: -1;
}

.leave__two {
  position: absolute;
  width: 83.88px;
  height: 98.069px;
  transform: rotate(-110deg);
  right: -2%;
  bottom: -13%;
}

.leave__three {
  position: absolute;
  width: 94.507px;
  height: 49.286px;
  z-index: 2;
  top: 5%;
  left: -2%;
}

.magenta__circle {
  position: absolute;
  width: 541px;
  height: 629px;
  border-radius: 39px 39px 0px 0px;
  background: radial-gradient(
    56.18% 55.77% at 54.11% 46.19%,
    rgba(144, 45, 172, 0.66) 36%,
    rgba(14, 3, 42, 0) 100%
  );
  filter: blur(61.349998474121094px);
  left: 55%;
  transform: translateX(-50%);
}

@media (640px <= width) {
}
@media (768px <= width) {
  .success__section {
    justify-content: center;
    height: 90vh;
  }
  .green__circle {
    position: absolute;
    width: 431px;
    height: 431px;
    border-radius: 571px;
    background: rgba(46, 234, 121, 0.7);
    filter: blur(200px);
    left: -30%;
  }
  .leave__one {
    z-index: 2;
    width: 227.063px;
    height: 118.415px;
    top: 12%;
  }

  .magenta__circle {
    width: 1041px;
    height: 929px;
  }
}
@media (1024px <= width) {
}
@media (1280px <= width) {
}
