.nav__list {
  width: 100%;
  padding-top: 70px;
}

.nav__list > li {
  width: 200px;
}

.link__styles {
  border-radius: 5px;
  margin: 10px 0;
  font-size: 18px;
  font-family: var(--font-urbanist);
  margin-left: 18px;
}
