.ourValues__card__container {
  min-width: 318px;
  min-height: 117px;
  background: linear-gradient(
    270deg,
    rgba(145, 145, 145, 1) -100%,
    rgba(14, 3, 42, 1) 76%
  );
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 14px 22px;
  border-radius: 18px;
  position: relative;
  row-gap: 10px;
}
.ourValues__card__container::after {
  content: "";
  position: absolute;
  width: 101%;
  height: 101%;
  border-radius: 18px;
  left: -0.1%;
  background: linear-gradient(
    270deg,
    rgba(145, 145, 145, 0) 0%,
    rgba(145, 145, 145, 1) 100%
  );
  z-index: -1;
}

.ourValues__title__container {
  width: 100%;
  display: flex;
  align-items: center;
  column-gap: 9px;
}

.ourValues__title__icon {
  width: 58px;
  height: 55px;
  object-fit: contain;
}

.ourValues__title__container > h3 {
  font-size: 13px;
}

.ourValues__content__container > p {
  font-size: 11px;
  font-family: "Futura";
  color: white;
}

@media (640px <= width) {
  .ourValues__title__container > h3 {
    font-size: 18px;
  }
  .ourValues__content__container > p {
    font-size: 15px;
  }
}
@media (768px <= width) {
  .ourValues__title__container > h3 {
    font-size: 20px;
  }
  .ourValues__content__container > p {
    font-size: 17px;
  }
}
@media (1024px <= width) {
  .ourValues__card__container {
    height: 164px;
  }
  .ourValues__title__container > h3 {
    font-size: 22px;
  }
  .ourValues__content__container > p {
    font-size: 20px;
  }
}
@media (1280px <= width) {
  .ourValues__card__container {
    width: 763px;
    padding: 5px 26px;
  }
  .ourValues__title__container > h3 {
    font-size: 26px;
  }
  .ourValues__content__container > p {
    font-size: 22px;
  }
}
