.hero__section {
  position: relative;
  height: calc(100vh - 79px);
  min-height: 400px;
  max-height: 600px;
  min-width: 328px;
  margin-bottom: clamp(
    45.29px,
    calc(45.29px + (257 - 45.29) * ((90vw - 360px) / (1200 - 360))),
    257px
  );
}
.hero__container {
  width: 100%;
  height: 100%;
  position: relative;
}

.widowCard_container {
  position: relative;
  padding-top: 70px;
}

@media (640px <= width) {
}

@media (768px <= width) {
  .hero__section {
    height: 100vh;
    min-height: 640px;
    max-height: 900px;
  }
}

@media (1024px <= width) {
}

@media (1280px <= width) {
  .hero__section {
    height: 100vh;
  }
}
