.hero__section {
  /* border: 1px solid white; */
}
.hero__container {
  width: 100%;
  position: relative;
  max-height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.widowCard_container {
  position: relative;
  padding-top: 70px;
}

.leave_base {
  display: none;
}

@media (640px <= width) {
}

@media (768px <= width) {
  .hero__container {
    min-height: 600px;
    max-height: 600px;
    height: 600px;
  }

  .hero__section {
    margin-top: 70px;
  }
}

@media (1024px <= width) {
  .hero__container {
    min-height: 700px;
    max-height: 700px;
    height: 700px;
  }

  .leave_base {
    display: inline-block;
    position: absolute;
  }
  .leave_one {
    width: 160px;
    right: -4%;
    top: -5%;
    z-index: 2;
  }
  .leave_two {
    width: 220.748px;
    height: 214.556px;
    z-index: -1;
    top: -32%;
    right: -3%;
    transform: rotate(-55deg);
  }
  .container {
    height: 800px;
  }
}

@media (1280px <= width) {
  .hero__container {
    margin-bottom: 257px;
  }
  .leave_one {
    width: 160px;
    right: -4%;
    top: -10%;
    z-index: 2;
  }
  .leave_two {
    width: 220.748px;
    height: 214.556px;
    max-height: calc(100vh - 100px);
    z-index: 1;
    top: -35%;
    right: -3%;
    transform: rotate(-55deg);
  }
}
