@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --body-gb-color: #0F032A;
  --custom-color-green: #19dbca;
  --custom-color-purple: #afb0ff;

  --font-size-title-1: 91px;
  --font-size-title-2: 88px;
  --font-size-title-3: 84px;
  --font-size-title-4: 69px;
  --font-size-title-5: 66px;
  --font-size-title-6: 65px;
  --font-size-title-7: 55px;
  --font-size-title-8: 42px;
  --font-size-title-9: 40px;
  --font-size-title-10: 36px;

  --font-size-big: 30px;
  --font-size-large: 25px;
  --font-size-medium: 22px;
  --font-size-base: 20px;
  --font-size-small: 18px;
  --font-size-tiny: 16px;
  --font-size-petite: 14px;
  --font-size-micro: 12px;
  --font-size-nano: 10px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  background-color: var(--body-gb-color);
  color: white;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}
