.slice__body__container {
  position: relative;
  height: 100%;
}
.slice__body__container > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 8px;
}

