.hero__arrow {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 15px;
  font-family: "Futura", var(--font-futura);
  font-size: clamp(
    var(--paragraph-mobile),
    calc(
      var(--paragraph-mobile) + (30 - 14) * ((100vw - 360px) / (1200 - 360))
    ),
    var(--button-desktop)
  );
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  cursor: pointer;
}

.arrow__container {
  animation: moveArrow 1.5s ease-in infinite;
}

@keyframes moveArrow {
  0% {
    transform: translateY(0);
  }
  60% {
    transform: translateY(6px);
  }
  100% {
    transform: translateY(0);
  }
}

@media (640px <= width) {
}

@media (768px <= width) {
}

@media (1024px <= width) {
}

@media (1280px <= width) {
}
