.address__section {
  /* border: 1px solid white; */
  margin-top: 30px;
}

.address__container {
  position: relative;
  height: 364px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  border-radius: 11px;
}
.address__text__container {
  position: relative;
  margin-top: 16px;
  order: 2;
}

.bg__blur {
  position: absolute;
  background: #150746;
  width: 118%;
  height: 110%;
  z-index: -1;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  filter: blur(17px);
}

.title__container > h2 {
  font-family: var(--font-urbanist);
  font-size: clamp(
    15px,
    calc(15px + (24 - 15) * ((90vw - 360px) / (1200 - 360))),
    24px
  );

  margin-top: 5px;
}

.title__container > p {
  font-family: var(--font-futura);
  font-size: clamp(
    11px,
    calc(11px + (22 - 11) * ((90vw - 360px) / (1200 - 360))),
    22px
  );

  text-align: justify;
  line-height: clamp(
    16.5px,
    calc(16.5px + (33 - 16.5) * ((90vw - 360px) / (1200 - 360))),
    33px
  );
}

.bg__img__container {
  position: relative;
  z-index: -1;
  display: flex;
  align-items: flex-end;
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: contain;
  order: 1;
  height: 200px;
}
.mountains {
  position: absolute;
  width: 105%;
  height: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom;
  left: 50%;
  transform: translateX(-50%);
}
.buildings {
  position: absolute;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom;
  left: 50%;
  width: 105%;
  height: 100%;
  transform: translateX(-50%);
}

.green__circle {
  position: absolute;
  width: 271px;
  height: 271px;
  border-radius: 571px;
  background: rgba(46, 234, 121, 0.8);
  filter: blur(200px);
  left: -22%;
  bottom: 29%;
}

.buttons__container {
  display: flex;
  flex-wrap: wrap;
  column-gap: 6px;
  row-gap: 10px;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
.buttons__container > a {
  width: 100%;
  height: 40px;
  font-size: 13px;
  border-radius: 14px;
}
.button__extendStyle {
  width: 100%;
  height: 100%;
}

.achor {
  display: flex;
}
.achor > button {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 7px;
  border-radius: 12px;
}

@media (425px <= width) {
  .address__container {
    height: 420px;
  }
}
@media (640px <= width) {
  .address__section {
    margin-top: 25px;
  }
  .address__text__container {
    position: absolute;
    right: 0;
    top: 0;
    max-width: 400px;
  }
  .title__container > span {
    font-size: 8px;
  }
  .title__container > h2 {
    font-size: 15px;
    margin: 4px 0;
  }

  .buttons__container {
    flex-direction: column;
  }
  .button__extendStyle {
    width: 100%;
    height: 100%;
  }
  .buttons__container > a {
    width: 100%;
    flex-grow: 1;
  }
  .mountains {
    width: 100%;
  }
  .buildings {
    width: 100%;
  }

  .bg__blur {
    position: absolute;
    background: #150746;
    width: 100%;
    height: 110%;
    z-index: -1;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    filter: blur(23px);
  }
}
@media (768px <= width) {
  .address__container {
    height: 500px;
  }
  .address__text__container {
    max-width: 470px;
  }
  .buttons__container {
    display: flex;
    flex-direction: column;
  }
  .title__container > span {
    font-size: 10px;
  }
  .title__container > h2 {
    font-size: 19px;
    margin: 6px 0;
  }

  .green__circle {
    position: absolute;
    width: 400px;
    height: 400px;
    border-radius: 571px;
    filter: blur(200px);
    z-index: 1;
  }
  .button__extendStyle {
    width: 100% !important;
    height: 100% !important;
  }
  .bg__img__container {
    height: 300px;
  }
}
@media (1024px <= width) {
  .title__container > span {
    font-size: 12px;
  }
  .title__container > h2 {
    font-size: 20px;
    margin: 8px 0;
  }
}
@media (1280px <= width) {
  .address__container {
    height: 520px;
  }
  .address__text__container {
    width: 620px;
    max-width: none;
    padding-right: 40px;
    padding-left: 40px;
  }
  .title__container > span {
    font-size: 14px;
  }
  .title__container > h2 {
    font-size: 24px;
    margin: 10px 0;
  }

  .buttons__container {
    row-gap: 17px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .buttons__container > a {
    display: block;
    width: 100%;
    height: auto;
    font-size: 19px !important;
  }
  .bg__img__container {
    height: 521px;
  }
}
