.testimonialCard__container {
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  height: 313px;
  padding: 9px 13px;
  border-radius: 40px;
  position: relative;
  overflow: hidden;
  justify-content: space-between;
}

.bg__layer {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #ffffff39;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.testimonialCard__text__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 3;
}

.testimonialCard__text__name {
  margin-bottom: 24px;
}

.testimonialCard__text__name > h2 {
  font-family: var(--font-grandis);
  margin-bottom: 12px;
  background: linear-gradient(270deg, #fff 0%, #f0cafb 46.5%, #fff 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: clamp(
    25px,
    calc(25px + (88 - 25) * ((80vw - 360px) / (1200 - 360))),
    88px
  );
  line-height: clamp(
    25.75px,
    calc(25.75px + (89.76 - 25.75) * ((80vw - 360px) / (1200 - 360))),
    89.76px
  );
}

.testimonialCard__text__container > p {
  font-size: clamp(
    12px,
    calc(10px + (22 - 10) * ((80vw - 360px) / (1200 - 360))),
    22px
  );
  line-height: clamp(
    15px,
    calc(15px + (33 - 15) * ((80vw - 360px) / (1200 - 360))),
    33px
  );
  font-family: "Futura";
  text-align: justify;
  width: 58%;
}

.client__img {
  position: absolute;
  object-fit: contain;
  object-position: right center;
  bottom: 0;
  left: 67%;
  transform: translateX(-50%);
  z-index: 5;
  height: 100%;
}

.green__mini__circle {
  position: absolute;
  width: 272.232px;
  height: 272.232px;
  border-radius: 572.232px;
  background: #38ffd44d;
  filter: blur(66.75px);
  left: -35%;
  top: -25%;
  z-index: 2;
}

@media (390px <= width) {
  .client__img {
    left: 50%;
    transform: translateX(-50%);
  }
}
@media (490px <= width) {
  .testimonialCard__text__container {
    margin-left: 30px;
  }
}
@media (640px <= width) {
  .testimonialCard__container {
    height: 400px;
    margin: 0 auto;
  }
  .testimonialCard__text__container {
    margin-left: 50px;
  }

  .testimonialCard__text__container > p {
    width: 60%;
  }
  .client__img {
    width: 70%;
    left: 65%;
  }
  .bg__layer {
    background-color: #270b4098;
  }
}
@media (768px <= width) {
  .testimonialCard__container {
    width: 100%;
    height: 480px;
  }

  .testimonialCard__text__container > p {
    width: 75%;
    max-width: 391px;
  }
  .client__img {
    width: 70%;
    max-width: 559px;
    left: 60%;
  }
}
@media (1024px <= width) {
  .testimonialCard__container {
    height: 560px;
  }
  .testimonialCard__text__container {
    margin-left: 70px;
  }

  .testimonialCard__text__container > p {
    width: 80%;
    max-width: 484px;
  }
  .client__img {
    width: 68%;
    max-width: 673px;
    left: 60%;
  }
  .green__circle__top {
    position: absolute;
    width: 372.232px;
    height: 312.557px;
    border-radius: 572.232px;
    background: #38ffd4;
    filter: blur(66.75px);
    left: -20%;
    top: -15%;
  }
  .green__circle {
    position: absolute;
    width: 572.232px;
    height: 572.232px;
    border-radius: 572.232px;
    background: #38ffd44d;
    filter: blur(66.75px);
    right: -30%;
    top: -16%;
    z-index: 2;
  }
  .purple__circle {
    position: absolute;
    width: 572.232px;
    height: 572.232px;
    border-radius: 572.232px;
    background: #6660ff;
    filter: blur(66.75px);
    left: 50%;
    bottom: -65%;
    transform: translateX(-50%);
    z-index: 2;
  }
}
@media (1280px <= width) {
  .testimonialCard__container {
    width: 100%;
    height: 613.71px;
    padding: 13px 22px;
    justify-content: space-between;
  }
  .testimonialCard__text__container {
    margin-left: 0;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 37px;
  }

  .testimonialCard__text__name > h2 {
    margin-bottom: 0px;
  }
  .testimonialCard__text__container > p {
    width: 80%;
  }
  .client__img {
    height: 100%;
    width: 60%;
    left: 55%;
  }
}
