.hero_title {
  position: absolute;
  width: 62.5%;
  max-width: 178rem;
  top: 50%;
}

.hero_title > h2 {
  font-size: var(--font-size-large);
  line-height: 25.75rem;
}

.hero_title_left {
  left: 0;
  transform: translateY(-350%);
}

.hero_title_right {
  right: 0;
  text-align: right;
  transform: translateY(140%);
}

@media (425px <= width) {
  .hero_title {
    max-width: 210rem;
  }
  .hero_title > h2 {
    font-size: var(--font-size-big);
    line-height: 38rem;
  }
  .hero_title_left {
    left: 0;
    transform: translateY(-305%);
  }

  .hero_title_right {
    right: 0;
    text-align: right;
    transform: translateY(120%);
  }
}

@media (450px <= width) {
  .hero_title_right {
    right: 0;
    text-align: right;
    transform: translateY(140%);
  }
}

@media (640px <= width) {
  .hero_title {
    max-width: 258rem;
  }
  .hero_title > h2 {
    font-size: var(--font-size-title-10);
    line-height: 38rem;
  }
  .hero_title_left {
    left: 0;
    transform: translateY(-300%);
  }

  .hero_title_right {
    right: 0;
    text-align: right;
    transform: translateY(140%);
  }
}

@media (768px <=width) {
  .hero_title {
    max-width: 300rem;
  }
  .hero_title > h2 {
    font-size: var(--font-size-title-8);
    line-height: 45rem;
  }
  .hero_title_left {
    left: 0;
    transform: translateY(-170%);
  }

  .hero_title_right {
    right: 0;
    text-align: right;
    transform: translateY(80%);
  }
}

@media (1024px <=width) {
  .hero_title {
    max-width: 390rem;
  }
  .hero_title {
    width: 40%;
  }
  .hero_title > h2 {
    font-size: var(--font-size-title-7);
    line-height: 57.4rem;
  }
  .hero_title_left {
    left: 0;
    transform: translateY(-155%);
  }

  .hero_title_right {
    right: 0;
    text-align: right;
    transform: translateY(50%);
  }
}

@media (1280px <=width) {
  .hero_title {
    max-width: 500rem;
  }
  .hero_title > h2 {
    font-size: var(--font-size-title-4);
    line-height: 71.07rem;
  }

  .hero_title_left {
    left: 0;
    transform: translateY(-110%);
  }

  .hero_title_right {
    right: 0;
    text-align: right;
    transform: translateY(40%);
  }
}
