.feature_container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 300px;
}

.feature_text_container {
  width: 60%;
}

.feature_text_container > h3 {
  font-size: var(--font-size-tiny);
  line-height: 19.84px;
  margin-bottom: 3px;
}

.feature_text_container > p {
  font-size: var(--font-size-micro);
  line-height: 18px;
  font-family: "Futura", sans-serif;
}

.feature_image_container {
  position: relative;
  width: 40%;
  height: 100%;
}

.feature_image_container > img {
  position: absolute;
  max-width: none;
  width: 180px;
  top: 50%;
  transform: translateY(-70%);
  object-fit: cover;
  object-position: center;
}

.left {
  right: -15%;
}

.right {
  right: -50%;
}

.title_style_one {
  background: linear-gradient(0deg, #6c6ef0 23%, #19dbca 84.81%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.title_style_two {
  background: linear-gradient(358deg, #6c6ef0 44.08%, #19dbca 80.64%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.title_style_three {
  background: linear-gradient(2deg, #6c6ef0 51.64%, #19dbca 140%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.title_style_four {
  background: linear-gradient(0deg, #5557d9 -23.11%, #19dbca 73.48%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.title_style_five {
  background: linear-gradient(0deg, #5557d9 48.89%, #19dbca 127.48%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.reverse {
  flex-direction: row-reverse;
  text-align: right;
}

@media (min-width: 330px) {
  .left {
    top: 40% !important;
    left: -25%;
  }

  .right {
    right: -25%;
  }
}

@media (min-width: 490px) {
  .feature_image_container > img {
    width: 220px;
  }
  .left {
    right: 0%;
    left: -15%;
  }

  .right {
    right: -25%;
  }
}

@media (min-width: 640px) {
  .feature_container {
    height: 400px;
  }
  .feature_text_container {
    width: 45%;
  }
  .feature_image_container > img {
    width: 300px;
  }
  .left {
    right: 0%;
    left: -15%;
  }

  .right {
    top: 40% !important;
    right: -20%;
  }
  .feature_text_container > h3 {
    font-size: var(--font-size-base);
    margin-bottom: 20px;
    line-height: 27px;
  }

  .feature_text_container > p {
    font-size: var(--font-size-petite);
    line-height: 22px;
  }
}

@media (min-width: 768px) {
  .feature_container {
    height: 500px;
  }
  .feature_text_container {
    width: 50%;
  }
  .feature_image_container > img {
    width: 400px;
  }
  .left {
    right: 0%;
    left: -15%;
  }

  .right {
    top: 48% !important;
    right: -20%;
  }
  .feature_text_container > h3 {
    font-size: var(--font-size-big);
    margin-bottom: 25px;
    line-height: 35px;
  }

  .feature_text_container > p {
    font-size: var(--font-size-small);
    line-height: 26px;
  }
}

@media (min-width: 1024px) {
  .feature_container {
    height: 600px;
  }
  .feature_text_container {
    width: 70%;
  }
  .feature_image_container > img {
    width: 500px;
  }
  .left {
    right: 0%;
    left: -34%;
  }

  .right {
    top: 48% !important;
    right: -20%;
  }
  .feature_text_container > h3 {
    font-size: var(--font-size-title-9);
    margin-bottom: 30px;
    line-height: 43px;
  }

  .feature_text_container > p {
    font-size: var(--font-size-base);
    line-height: 30px;
  }
}

@media (min-width: 1280px) {
  .feature_container {
    height: 700px;
  }
  .feature_text_container > h3 {
    font-size: var(--font-size-title-7);
    line-height: 56.65px;
    margin-bottom: 30px;
  }

  .feature_text_container > p {
    font-size: var(--font-size-medium);
    line-height: 33px;
  }
  .feature_image_container > img {
    width: 580px;
    top: 0;
    transform: none;
    object-fit: cover;
    object-position: center;
  }

  .left {
    top: -10% !important;
    left: -30%;
  }

  .right {
    top: -12% !important;
    right: -30%;
  }
}
