.feature_container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.feature_text_container {
  width: 56%;
}

.feature_text_container > h3 {
  font-size: clamp(
    17px,
    calc(17px + (55 - 17) * ((90vw - 360px) / (1200 - 360))),
    55px
  );
  line-height: clamp(
    21.08px,
    calc(21.08px + (56.65 - 21.08) * ((90vw - 360px) / (1200 - 360))),
    56.65px
  );
  margin-bottom: clamp(
    20px,
    calc(20px + (30 - 20) * ((90vw - 360px) / (1200 - 360))),
    30px
  );
}

.feature_text_container > p {
  width: 100%;
  font-family: "Futura", sans-serif;
  font-size: clamp(
    14px,
    calc(14px + (22 - 14) * ((90vw - 360px) / (1200 - 360))),
    22px
  );
  line-height: clamp(
    21px,
    calc(21px + (33 - 21) * ((90vw - 360px) / (1200 - 360))),
    33px
  );
}

.feature_image_container {
  position: relative;
  height: 100%;
  min-height: 300px;
  flex-grow: 1;
}

.title_style_one {
  background: linear-gradient(0deg, #6c6ef0 23%, #19dbca 84.81%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.title_style_two {
  background: linear-gradient(358deg, #6c6ef0 44.08%, #19dbca 80.64%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.title_style_three {
  background: linear-gradient(2deg, #6c6ef0 51.64%, #19dbca 140%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.title_style_four {
  background: linear-gradient(0deg, #5557d9 -23.11%, #19dbca 73.48%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.title_style_five {
  background: linear-gradient(0deg, #5557d9 48.89%, #19dbca 127.48%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.reverse {
  flex-direction: row-reverse;
  text-align: right;
}

.reverse > div {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.reverse .feature_text_container > p {
  margin-right: 0;
}

@media (min-width: 330px) {
}

@media (min-width: 490px) {
}

@media (min-width: 640px) {
}

@media (min-width: 768px) {
  .feature_text_container {
    width: 63.5%;
  }
  .feature_text_container > p {
    width: 80%;
  }
}

@media (min-width: 1024px) {
}

@media (min-width: 1280px) {
  .feature_text_container {
    width: 66%;
  }
}
