.avatarCards__float__container_woman {
  position: absolute;
  top: 12%;
  left: 64%;
  transform: translateX(-50%);
}
.avatar__woman__card {
  position: absolute;
  width: 78px;
  height: 120px;
  left: 50%;
  top: 40%;
  transform: translateX(-50%) translateY(-50%);
}

.description {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 5px;
}

.description > h3 {
  font-size: clamp(
    var(--paragraph-mobile),
    calc(var(--paragraph-mobile) + (32 - 14) * ((90vw - 360px) / (1200 - 360))),
    var(--paragraph-desktop)
  );
  text-align: center;
}

.action__btn {
  cursor: pointer;
  display: block;
  background: rgba(217, 217, 217, 0.37);
  width: 100%;
  /* height: clamp(
    21px,
    calc(21px + (32 - 21) * ((80vw - 360px) / (1200 - 360))),
    32px
  ); */
  /* max-width: 212px; */
  font-family: var(--font-futura);
  border-radius: 8px;
  font-size: clamp(
    var(--secondary-text-mobile),
    calc(
      var(--secondary-text-mobile) + (30 - 10) * ((80vw - 360px) / (1200 - 360))
    ),
    var(--button-desktop)
  );
  text-align: center;
  padding: 0 3px;
  width: 90%;
}

@media (400px <= width) {
  .avatarCards__float__container_woman {
    top: 7%;
    left: 59%;
  }
}
@media (450px <= width) {
}
@media (640px <= width) {
  .avatarCards__float__container_woman {
    top: 9%;
    right: 0%;
    transform: translateX(-50%);
  }
  .avatar__woman__card {
    width: 138.38px;
    height: 212.89px;
  }
}
@media (768px <= width) {
  .avatarCards__float__container_woman {
    top: 40%;
    left: 60%;
    transform: translateX(-50%) translateY(-50%);
  }
  .avatar__woman__card {
    width: 173px;
    height: 266.11px;
  }
}
@media (1024px <= width) {
  .avatar__woman__card {
    width: 207.6px;
    height: 319.34px;
  }
}
@media (1280px <= width) {
  .avatarCards__float__container_woman {
    top: 47%;
    right: -10%;
    transform: translateX(-50%) translateY(-50%);
  }
  .avatar__woman__card {
    width: 259.5px;
    height: 399.17px;
  }
}
