.footer {
  width: 100%;
  height: 344rem;
  background: #0e032a89;
  display: flex;
  flex-direction: column;
}

.footer_menu_container {
  max-width: 1240px;
  width: 100%;
  margin: 0 auto;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 16rem;
}

.footer_search_container {
  width: 100%;
  max-width: 335rem;
  display: flex;
  flex-direction: column;
}

.input_container {
  border: 1rem solid white;
  background-color: #0e032a;
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 14rem 20rem;
  border-radius: 8rem;
}

.input_container > input {
  font-size: var(--font-size-petite);
  background-color: transparent;
  border: none;
  flex-grow: 1;
}

.footer_linklist_container {
  display: flex;
  justify-content: center;
  align-items: start;
}

.mobile_menu {
  width: 100%;
  font-size: var(--font-size-micro);
  font-family: "Futura";
  color: #999;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-top: 19rem;
  gap: 10rem 110rem;
}

.desk_menu {
  display: none;
}

.logo_desk {
  display: none;
}

.logo_mobile {
  display: inline-block;
  margin-bottom: 15rem;
}

.footer_terms_container {
  width: 100%;
  background: #0e032a;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Futura";
}

.footer_terms_container > div {
  width: 100%;
  max-width: 1240px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 16rem;
}

.social_media_icon {
  width: 25rem;
}

.social_text_container {
  font-size: 8rem;
  display: flex;
  column-gap: 20rem;
  padding: 10rem 0;
}

.social_icons_container {
  display: flex;
  column-gap: 8rem;
}

@media (640px <= width) {
  .footer_search_container {
    max-width: 400rem;
    row-gap: 4rem;
  }
}

@media (768px <= width) {
  .footer {
    height: 342rem;
  }
  .footer_menu_container {
    column-gap: 86rem;
  }
  .mobile_menu {
    display: none;
  }
  .desk_menu {
    font-family: "Futura";
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 30rem;
  }
  .footer_search_container {
    row-gap: 10rem;
    justify-content: center;
    align-items: center;
    margin-bottom: 25rem;
  }

  .input_container {
    width: 100%;
  }

  .logo_desk {
    width: 196rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .logo_mobile {
    display: none;
  }
  .social_text_container {
    font-size: var(--font-size-petite);
    padding: 16rem;
  }
  .social_media_icon {
    width: 40rem;
  }
  .footer_terms_container {
    height: 64rem;
  }
}

@media (1024px <= width) {
  .footer_menu_container {
    flex-direction: row;
    justify-content: center;
    padding: 0 16rem;
    column-gap: 86rem;
  }
  .footer_search_container {
    flex-direction: row-reverse;
    justify-content: center;
    column-gap: 25rem;
    margin: 0;
  }
  .footer_linklist_container {
    justify-content: center;
    align-items: center;
  }
  .logo_desk {
    width: 196rem;
    height: 50rem;
    flex-shrink: 0;
  }
}

@media (1280px <= width) {
  .footer_menu_container{
    column-gap: 130rem;
  }
  .footer_search_container{
    column-gap: 59rem;
  }
  .desk_menu{
    column-gap: 90rem;
  }

}
