.footer {
  width: 100%;
  height: 344px;
  background: #0e032a;
  display: flex;
  flex-direction: column;
}

.footer__menu__container {
  max-width: 1240px;
  width: 100%;
  margin: 0 auto;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 16px;
}

.footer__linklist__container {
  display: flex;
  justify-content: center;
  align-items: start;
  font-size: var(--font-urbanist);
  color: #999;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 16px;
  margin-top: 32px;
  margin-bottom: 18px;
}

.footer__linklist__container > a {
  font-size: clamp(
    16px,
    calc(16px + (18 - 16) * ((80vw - 360px) / (1200 - 360))),
    18px
  );
  text-align: center;
}

@media (640px <= width) {
}

@media (768px <= width) {
  .footer {
    height: 342px;
  }

  .footer__menu__container {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .input__container {
    width: 100%;
  }

  .footer__linklist__container {
    padding: 0 15px;
    flex-direction: row;
    justify-content: space-around;
    align-items: baseline;
    margin-bottom: -27px;
    column-gap: 10px;
  }
}

@media (1024px <= width) {
  .footer__menu__container {
    flex-direction: row;
    justify-content: center;
    padding: 0 16px;
    column-gap: 86px;
  }

  .footer__linklist__container {
    justify-content: center;
    align-items: center;
    column-gap: 30px;
  }
}

@media (1280px <= width) {
  .footer__menu__container {
    justify-content: space-between;
  }
  .footer__linklist__container {
    margin-bottom: 25px;
    column-gap: 30px;
  }
}
