.header_container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 79px;
  width: 100%;
  background-color: linear-gradient(
    180deg,
    #1a0258 0%,
    rgba(87, 62, 151, 0) 100%
  );
}
.burger {
  position: absolute;
  top: 50%;
  right: 8%;
  transform: translateY(-50%);
}

@media (640px <= width) {
}

@media (768px <= width) {
  .header_container {
    display: none;
  }
}

@media (1024px <= width) {
}

@media (1280px <= width) {
}
