.windowCard_container {
  position: relative;
  background-color: #6b63d689;
  border-radius: 17rem;
}

@media (640px <= width) {
  .windowCard_container {
    border-radius: 20rem;
  }
}

@media (768px <= width) {
}

@media (1024px <= width) {
}

@media (1280px <= width) {
  .windowCard_container {
    border-radius: 40rem;
  }
}

@media (1536px <= width) {
}
