.contactMosaic__section {
  position: relative;
  height: clamp(
    400px,
    calc(350px + (1400 - 350) * ((80vw - 360px) / (1200 - 360))),
    1400px
  );
  margin-bottom: clamp(
    100px,
    calc(49px + (172 - 49) * ((80vw - 360px) / (1200 - 360))),
    172px
  );
}
.contactMosaic__container {
  position: relative;
  height: 100%;
  display: flex;
  justify-content: flex-end;
}

.purple__circle {
  position: absolute;
  width: 1119.832px;
  height: 850.12px;
  border-radius: 1119.832px;
  background: #5a2eea8b;
  filter: blur(200px);
  z-index: -10;
  right: -50%;
}

.green__circle {
  position: absolute;
  width: 571px;
  height: 571px;
  border-radius: 571px;
  background: #2eea79c0;
  filter: blur(200px);
  z-index: -10;
  left: -15%;
  top: 65%;
  transform: translateY(-50%);
}

.contactMosaic__text__container {
  width: 156px;
  position: absolute;
  top: 2.5%;
}

.contactMosaic__text__container > h2 {
  font-size: clamp(
    18px,
    calc(18px + (50 - 18) * ((80vw - 360px) / (1200 - 360))),
    50px
  );
  line-height: clamp(
    20px,
    calc(20px + (75 - 20) * ((80vw - 360px) / (1200 - 360))),
    75px
  );
}

.contactMosaic__description__container > p {
  position: absolute;
  font-family: "Futura";
  font-family: var(--font-futura);
  font-size: clamp(
    11px,
    calc(11px + (22 - 11) * ((80vw - 360px) / (1200 - 360))),
    22px
  );
  line-height: clamp(
    16.5px,
    calc(16.5px + (33 - 16.5) * ((80vw - 360px) / (1200 - 360))),
    33px
  );

  top: 2%;
  width: 90%;
  left: 50%;
  transform: translateX(-50%);
  text-align: justify;
}

.grid_template {
  display: grid;
  grid-template-areas:
    ". . header1 header2"
    ". main main side-right"
    "side-left main main side-right"
    ". footer description description";

  width: 95%;
  height: 100%;
  gap: 5px;
}

.grid_template > img {
  background-color: palegreen;
  min-width: none;
  object-fit: cover;
}

.grid_template img:nth-child(1) {
  grid-area: header1;
  width: 100%;
  height: 100%;
  background-color: salmon;
}

.grid_template img:nth-child(2) {
  grid-area: header2;
  width: 100%;
  height: 100%;
  background-color: palevioletred;
}

.grid_template img:nth-child(3) {
  grid-area: side-left;
  width: 100%;
  height: 100%;
  background-color: papayawhip;
}

.grid_template img:nth-child(4) {
  grid-area: main;
  width: 100%;
  height: 100%;
  background-color: skyblue;
}

.grid_template img:nth-child(5) {
  grid-area: side-right;
  width: 100%;
  height: 100%;
  background-color: tomato;
}

.grid_template img:nth-child(6) {
  grid-area: footer;
  width: 100%;
  height: 100%;
  background-color: plum;
}
.contactMosaic__description__container {
  position: relative;
  grid-area: description;
  font-size: 11px;
}

.leave__top {
  display: none;
  /* position: absolute;
  width: 34.732px;
  height: 40.607px;
  left: -2%;
  top: 40%;
  transform: translateY(-50%); */
}

.leave__bottom {
  display: none;

  /* position: absolute;
  width: 36.422px;
  height: 42.583px;
  right: -4%;
  bottom: 24.5%;
  transform: rotate(85deg); */
}

.leave__center {
  display: none;

  /* position: absolute;
  width: 21.53px;
  height: 25.172px;
  top: 72%;
  left: 20%;
  transform: translateY(-50%); */
}

@media (450px <= width) {
  .contactMosaic__text__container {
    top: 5%;
    width: 200px;
  }
}

@media (500px <= width) {
  .contactMosaic__text__container {
    top: 12%;
    width: 300px;
  }
}

@media (640px <= width) {
  .grid_template {
    width: 95%;
    height: 90%;
  }
  .contactMosaic__text__container {
    top: 12%;
    width: 300px;
  }
}
@media (768px <= width) {
  .grid_template {
    width: 95%;
    height: 90%;
  }
  .contactMosaic__text__container {
    top: 10.9%;
    width: 380px;
  }

  .contactMosaic__description__container > p {
    top: 10%;
    width: 60%;
    left: 5%;
    transform: translateX(0);
  }
}
@media (1024px <= width) {
  .grid_template {
    width: 95%;
    height: 90%;
  }
  .contactMosaic__text__container {
    width: 550px;
    top: 11%;
  }

  .contactMosaic__description__container > p {
    width: 50%;
  }
}
@media (1280px <= width) {
  .contactMosaic__section {
    margin-bottom: 100px;
  }

  .contactMosaic__text__container {
    top: 10%;
    width: 633px;
  }

  .leave__top {
    display: block;
    width: 158.305px;
    position: absolute;
    top: 38%;
    left: 17%;
    transform: rotate(350deg);
    z-index: 1;
  }

  .leave__bottom {
    display: block;
    position: absolute;
    right: -5%;
    bottom: 24%;
    width: 201px;
    height: 235px;
    transform: rotate(95deg);
  }
  .leave__center {
    display: block;
    position: absolute;
    width: 103.53px;
    left: 24%;
    bottom: 8%;
    z-index: 2;
  }
  .grid_template {
    height: 90%;
    width: 95%;
    gap: 10px;
  }
}
