.feature_container {
  margin-top: 186px;
  position: relative;
}

.green_circle_one {
  position: absolute;
  width: 121px;
  height: 121px;
  flex-shrink: 0;
  border-radius: 571px;
  background: #2eea79;
  filter: blur(70px);
  left: -10%;
  top: 7%;
  border: 1px solid white;
}

.green_circle_two {
  display: none;
}

@media (640px <= width) {
}
@media (768px <= width) {
}
@media (1024px <= width) {
  .green_circle_one {
    width: 571px;
    height: 571px;
    z-index: -1;
    border-radius: 571px;
    background: #2eea797c;
    filter: blur(200px);
    left: -10%;
    top: 18%;
  }
  .green_circle_two {
    display: block;
    position: absolute;
    width: 571px;
    height: 571px;
    flex-shrink: 0;
    border-radius: 571px;
    background: #2eea79cc;
    filter: blur(200px);
    right: -10%;
    z-index: -1;
    bottom: 13%;
  }
}
@media (1280px <= width) {
}
