.feature_container {
  margin-top: 186rem;
  position: relative;
}

.green_circle_one {
  position: absolute;
  width: 571px;
  height: 571px;
  flex-shrink: 0;
  z-index: -1;
  border-radius: 571px;
  background: #2eea797c;
  filter: blur(200px);
  left: -10%;
  top: 18%;
}

.green_circle_two {
  position: absolute;
  width: 571px;
  height: 571px;
  flex-shrink: 0;
  border-radius: 571px;
  background: #2eea79cc;
  filter: blur(200px);
  right: -10%;
  z-index: -1;
  bottom: 13%;
}
