.feature__section {
  padding-top: clamp(
    43px,
    calc(43px + (270 - 43) * ((90vw - 360px) / (1200 - 360))),
    270px
  );
}

.feature__container {
  position: relative;
  display: flex;
  flex-direction: column;
  row-gap: clamp(
    56px,
    calc(56px + (281 - 56) * ((90vw - 360px) / (1200 - 360))),
    281px
  );
}

.green_circle_one {
  position: absolute;
  width: 121px;
  height: 121px;
  flex-shrink: 0;
  border-radius: 571px;
  background: #2eea79;
  filter: blur(70px);
  left: -10%;
  top: 7%;
  z-index: -1;
}

.green_circle_two {
  display: none;
}

.pictureStyle__style__1 {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: clamp(
    220px,
    calc(220px + (600 - 220) * ((90vw - 360px) / (1200 - 360))),
    600px
  );
  max-width: none;
}
.pictureStyle__style__2 {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: clamp(
    200px,
    calc(200px + (600 - 200) * ((90vw - 360px) / (1200 - 360))),
    600px
  );

  max-width: none;
}
.pictureStyle__style__3 {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: clamp(
    220px,
    calc(220px + (600 - 220) * ((90vw - 360px) / (1200 - 360))),
    600px
  );
  max-width: none;
}
@media (640px <= width) {
}
@media (768px <= width) {
}
@media (1024px <= width) {
  .green_circle_one {
    width: 571px;
    height: 571px;
    z-index: -1;
    border-radius: 571px;
    background: #2eea797c;
    filter: blur(200px);
    left: -10%;
    top: 18%;
  }
  .green_circle_two {
    display: block;
    position: absolute;
    width: 571px;
    height: 571px;
    flex-shrink: 0;
    border-radius: 571px;
    background: #2eea79cc;
    filter: blur(200px);
    right: -10%;
    z-index: -1;
    bottom: 13%;
  }
}
@media (1280px <= width) {
  .pictureStyle__style__1 {
    top: 72%;
  }
  .pictureStyle__style__2 {
    top: 68%;
    left: -38%;
  }
}
