.hero__title {
  position: absolute;
  width: 170px;
  top: 5%;
}

.hero__title > div {
  position: relative;
}

.hero__text__container > h2 {
  font-size: var(--font-size-large);
  line-height: 25.75px;
}

@media (500px <= width) {
  .hero__title {
    width: 200px;
    top: 8%;
  }
  .hero__text__container > h2 {
    font-size: 28rem;
    line-height: 29.75px;
  }
}

@media (640px <= width) {
  .hero__title {
    width: 250px;
  }

  .hero__text__container > h2 {
    font-size: var(--font-size-title-10);
    line-height: 38px;
  }
}

@media (768px <= width) {
  .hero__title {
    width: 270px;
    top: 12%;
  }

  .hero__text__container > h2 {
    font-size: var(--font-size-title-9);
    line-height: 40px;
  }
}

@media (1024px <= width) {
  .hero__title {
    width: 330px;
    top: 13%;
  }

  .hero__text__container > h2 {
    font-size: var(--font-size-title-7);
    line-height: 57px;
  }
}

@media (1280px <= width) {
  .hero__title {
    width: 415px;
    top: 10%;
  }

  .hero__text__container > h2 {
    font-size: var(--font-size-title-4);
    line-height: 71.07px;
  }
}
