.hero__title {
  position: absolute;
  top: 3%;
}

.hero__title > div {
  position: relative;
}

.hero__text__container > h2 {
  font-size: clamp(
    var(--title-mobile-primary),
    calc(
      var(--title-mobile-primary) + (65 - 25) * ((100vw - 360px) / (1200 - 360))
    ),
    var(--title-desktop-primary)
  );
  line-height: clamp(
    25.75px,
    calc(25.75px + (41.2 * ((100vw - 360px) / (1200 - 360)))),
    66.95px
  );
  font-family: var(--font-grandis);
}

@media (640px <= width) {
  .hero__title {
  }
}

@media (768px <= width) {
  .hero__title {
    top: 18%;
  }
}

@media (1024px <= width) {
}

@media (1280px <= width) {
  .hero__title {
    top: 14%;
  }
}
