.hero__title {
  position: absolute;
  top: 5%;
}

.hero__title > div {
  position: relative;
}

.hero__text__container > h2 {
  font-size: clamp(var(--font-size-large), 5vw, var(--font-size-title-4));
  line-height: clamp(25.75px, 5vw, 71.07px);
}

@media (640px <= width) {
  .hero__title {
  }
}

@media (768px <= width) {
  .hero__title {
    top: 12%;
  }
}

@media (1024px <= width) {
  .hero__title {
    top: 13%;
  }
}

@media (1280px <= width) {
  .hero__title {
    top: 15%;
  }
}
