.avatarCard__container {
  position: relative;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 5px;
  background: linear-gradient(
    180deg,
    rgba(14, 6, 43, 1) 7%,
    rgba(101, 42, 198, 1) 100%
  );
  width: 100px;
  height: 161px;
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.avatarCard__bullets__container {
  display: flex;
  column-gap: 1px;
}
.avatarCard__bullets__container > div {
  width: 1.912px;
  height: 1.912px;
  background-color: white;
  border-radius: 50%;
}

.avatarCard__text__container > h3 {
  text-align: center;
  font-size: 9px;
  line-height: 13.5px;
  margin-bottom: 10%;
}

@media (400px <= width) {
  .avatarCard__container {
    width: 118px;
    height: 190.98px;
  }
}
@media (450px <= width) {
  .avatarCard__container {
    width: 122px;
    height: 196.42px;
  }
}
@media (500px <= width) {
  .avatarCard__container {
    width: 146.4px;
    height: 235.704px;
  }
}
@media (640px <= width) {
  .avatarCard__container {
    width: 175.68px;
    height: 282.84px;
  }
}
@media (768px <= width) {
  .avatarCard__container {
    width: 219.6px;
    height: 353.55px;
    padding: 10px;
  }
  .avatarCard__bullets__container {
    column-gap: 3px;
  }
  .avatarCard__bullets__container > div {
    width: 3.5px;
    height: 3.5px;
  }
  .avatarCard__text__container > h3 {
    font-size: 18px;
  }
}
@media (1024px <= width) {
  .avatarCard__container {
    width: 291.2px;
    height: 471.2px;
    border-radius: 15px;
  }
}
@media (1280px <= width) {
  .avatarCard__container {
    width: 364px;
    height: 589px;
    padding: 10px;
    border-radius: 17px;
  }
  .avatarCard__bullets__container {
    column-gap: 5px;
    padding: 25px 19px;
  }
  .avatarCard__bullets__container > div {
    width: 7px;
    height: 7px;
  }
  .avatarCard__text__container > h3 {
    font-size: 27px;
  }
}
