.avatarCard__container {
  position: relative;
  border: 1rem solid rgba(255, 255, 255, 0.5);
  border-radius: 5rem;
  background: linear-gradient(
    180deg,
    rgba(14, 6, 43, 1) 7%,
    rgba(101, 42, 198, 1) 100%
  );
  width: 100rem;
  height: 161rem;
  padding: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.avatarCard__bullets__container {
  display: flex;
  column-gap: 1rem;
}
.avatarCard__bullets__container > div {
  width: 1.912px;
  height: 1.912px;
  background-color: white;
  border-radius: 50%;
}

.avatarCard__text__container > h3 {
  text-align: center;
  font-size: 9rem;
  line-height: 13.5rem;
  margin-bottom: 10%;
}

@media (400px <= width) {
  .avatarCard__container {
    width: 118px;
    height: 190.98px;
  }
}
@media (450px <= width) {
  .avatarCard__container {
    width: 122rem;
    height: 196.42rem;
  }
}
@media (500px <= width) {
  .avatarCard__container {
    width: 146.4rem;
    height: 235.704rem;
  }
}
@media (640px <= width) {
  .avatarCard__container {
    width: 175.68rem;
    height: 282.84rem;
  }
}
@media (768px <= width) {
  .avatarCard__container {
    width: 219.6rem;
    height: 353.55rem;
    padding: 10rem;
  }
  .avatarCard__bullets__container {
    column-gap: 3rem;
  }
  .avatarCard__bullets__container > div {
    width: 3.5rem;
    height: 3.5rem;
  }
  .avatarCard__text__container > h3 {
    font-size: 18rem;
  }
}
@media (1024px <= width) {
  .avatarCard__container {
    width: 291.2px;
    height: 471.2px;
    border-radius: 15rem;
  }
}
@media (1280px <= width) {
  .avatarCard__container {
    width: 364px;
    height: 589px;
    padding: 10rem;
    border-radius: 17rem;
  }
  .avatarCard__bullets__container {
    column-gap: 5rem;
    padding: 25rem 19rem;
  }
  .avatarCard__bullets__container > div {
    width: 7rem;
    height: 7rem;
  }
  .avatarCard__text__container > h3 {
    font-size: 27rem;
  }
}
