.carrucel__container {
  position: relative;
  width: 100%;
  height: 240px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.carrucel__viewport {
  width: 78%;
  height: 100%;
}
.arrow_left {
  width: 24.25px;
  height: 24.25px;
  border: 2px solid gray;
  border-radius: 50%;
}
.arrow_right {
  width: 24.25px;
  height: 24.25px;
  border: 2px solid gray;
  border-radius: 50%;
}

@media (425px <= width) {
  .carrucel__viewport {
    width: 65%;
  }
}
@media (470px <= width) {
  .carrucel__viewport {
    width: 60%;
  }
}
@media (500px <= width) {
  .carrucel__viewport {
    width: 55%;
  }
}
@media (560px <= width) {
  .carrucel__viewport {
    width: 50%;
  }
}
/* @media (600px <= width) {
  .carrucel__viewport {
    width: 50%;
  }
} */
@media (640px <= width) {
  .carrucel__container {
    display: none;
  }
}
