.heroCenterPricture__container {
  height: 600px;

}
.hero_picture_mobile {
  max-width: none;
  object-fit: cover;
  width: 105%;
  max-width: 358px;
  position: absolute;
  top: -6%;
  left: 50%;
  transform: translateX(-45%);
}

.hero_picture {
  display: none;
}

@media (425px <= width) {
  .hero_picture_mobile {
    display: none;
  }
  .hero_picture {
    display: block;
    position: absolute;
    width: 100vh;
    top: -10%;
    left: 50%;
    max-width: 566px;
    min-height: 400px;
    transform: translate(-43%);
  }
}

@media (640px <= width) {
  .hero_picture {
    display: block;
    position: absolute;
    width: 94%;
    top: -10%;
    left: 50%;
    max-width: 666px;
    transform: translate(-45%);
  }
}

@media (768px <= width) {
  .heroCenterPricture__container {
    height: 700px;
  }
  .hero_picture {
    display: block;
    position: absolute;
    width: 100%;
    top: -10%;
    left: 50%;
    max-width: 786px;
  }
}

@media (min-width: 1024px) {
  .hero_picture {
    max-width: 1000px;
  }
}

@media (min-width: 1280px) {
  .hero_picture {
    object-fit: contain;
    object-position: center;
    width: 100%;
    height: 100vh;
    max-width: 1200px;
    max-height: 1000px;
    transform: translateX(-45%);
  }
}
