.hero_picture_mobile {
  max-width: none;
  object-fit: cover;
  width: 350rem;
  position: absolute;
  top: -3%;
  right: -10%;
}

.hero_picture {
  display: none;
  top: 0.75rem;
  left: 46%;
  transform: translateX(-50%);
  width: 335px;
}

@media (340px <= width) {
  .hero_picture_mobile {
    width: 360rem;
    top: -7%;
    right: -10%;
  }
}
@media (340px <= width) {
  .hero_picture_mobile {
    top: -3%;
    right: -5%;
  }
}

@media (375px <= width) {
  .hero_picture_mobile {
    width: 380rem;
    top: -5%;
    right: -7%;
  }
}

@media (425px <= width) {
  .hero_picture_mobile {
    width: 100%;
    top: 3%;
    right: -5%;
  }
  .hero_picture {
    display: none;
  }
}

@media (450px <= width) {
  .hero_picture_mobile {
    top: -1%;
  }
}

@media (530px <= width) {
  .hero_picture_mobile {
    top: -6.5%;
  }
}

@media (640px <= width) {
  .hero_picture_mobile {
    display: none;
  }
  .hero_picture {
    display: block;
    position: absolute;
    width: 500px;
    transform: translateX(-45%);
  }
  .heroCenterPricture__bg {
    height: 100%;
    background-image: url(../../../../../assets/home/background/centralImgBg.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
  }
}

@media (768px <= width) {
  .hero_picture {
    top: 1%;
    left: 46%;
    transform: translateX(-45%);
    width: 480px;
  }
}

@media (min-width: 1024px) {
  .hero_picture {
    width: 520px;
  }
}

@media (min-width: 1280px) {
  .hero_picture {
    width: 550px;
    transform: translateX(-47%);
    top: -1.5%;
  }
}
