.heroCenterPricture__container {
  position: absolute;
  width: 100%;
  height: 80%;
}
.hero_picture_mobile {
  max-width: none;
  width: 107%;
  height: 105%;
  min-height: 360px;
  position: absolute;
  top: -6%;
  left: 50%;
  transform: translateX(-45%);
}

.hero_picture {
  display: none;
}

@media (425px <= width) {
  .hero_picture_mobile {
    display: none;
  }
  .hero_picture {
    display: block;
    position: absolute;
    width: 100%;
    height: 102%;
    top: -1%;
    left: 50%;
    max-width: 460px;
    min-height: 400px;
    transform: translate(-50%);
    object-position: center;
  }
}

@media (640px <= width) {
  /* .hero_picture {
    display: block;
    position: absolute;
    width: 94%;
    top: -10%;
    left: 50%;
    max-width: 666px;
    transform: translate(-45%);
  } */
}

@media (768px <= width) {
  .heroCenterPricture__container {
    top: 2%;
    max-width: 600px;
    left: 47%;
    transform: translateX(-50%);
  }
  .hero_picture {
    max-width: 790px;
    min-height: 680px;
  }
}

@media (min-width: 1024px) {
  /* .hero_picture {
    max-width: 1000px;
  } */
}

@media (min-width: 1280px) {
  .heroCenterPricture__container {
    top: -1%;
    left: 50%;
    transform: translateX(-50%);
  }
  .hero_picture {
    max-width: 1000px;
    min-height: 680px;
  }
}
