.carrucel {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: fit-content;
}

.view_slices {
  display: flex;
  align-items: center;
}

.button {
  height: fit-content;
  width: 40rem;
}

@media (425px <= width) {
}
@media (640px <= width) {
}
@media (768px <= width) {
}
@media (1024px <= width) {
  .carrucel {
    width: 98%;
  }
  .view_slices {
    width: 100%;
  }
}
@media (1280px <= width) {
  .carrucel {
    width: 108%;
  }
  .view_slices {
    width: 90%;
  }
  .button {
    width: 80rem;
  }
}
