.swiper {
  width: 100%;
  height: 401rem;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
  width: 400rem !important;
  border-radius: 40rem;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (640px <= width) {
}
@media (768px <= width) {
}
@media (1024px <= width) {
}
@media (1280px <= width) {
    .swiper{
        width: 80%;
    }
}