.swiper {
  width: 100%;
  height: 401rem;
  margin-right: 0;
  margin-left: 0;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #ffffff00;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 40rem;
}

@media (640px <= width) {
  .swiper {
    height: 200rem;
  }
  .swiper-slide {
    width: 200rem !important;
  }
}
@media (768px <= width) {
  .swiper {
    height: 300rem;
  }
  .swiper-slide {
    width: 300rem !important;
  }
}
@media (1024px <= width) {
  .swiper {
    height: 350rem;
  }
  .swiper-slide {
    width: 350rem !important;
  }
}
@media (1280px <= width) {
  .swiper {
    height: 401rem;
    border-radius: 40rem;
  }
  .swiper-slide {
    width: 400rem !important;
  }
}
