/* .swiper {
  width: 70%;
  height: 100%;
}
.swiper-wrapper {
}

.swiper-slide {
  width: 100% !important;
}

@media (425px <= width) {
}
@media (640px <= width) {
  .swiper {
    width: 100%;
    height: 300rem;
  }
  .swiper-slide {
    width: 47% !important;
  }
}
@media (768px <= width) {
  .swiper {
    width: 80%;
  }
  .swiper-wrapper {
    max-width: 578rem;
  }
  .swiper-slide {
    width: 47% !important;
  }
  .swiper::before {
    left: -2%;
  }
  .swiper-slide {
    min-width: 250rem !important;
    max-width: 250rem !important;
  }
}
@media (1024px <= width) {
  .swiper {
    width: 100%;
    max-width: 905rem;
  }
  .swiper-wrapper {
    
  }
  .swiper-slide {
    min-width: 269.66rem !important;
  }
} */
@media (1280px <= width) {
  .swiper {
    width: 80%;
    max-width: 1210rem;
    margin: 0 auto;
    height: 400rem;
  }
  .swiper-wrapper {
  }
  .swiper-slide {
    width: 400rem !important;
    height: 100% !important;
    border: 1rem solid white;
  }
  .swiper::before {
    left: -1.9%;
  }
}
