.button__container {
  background-color: #fff;
  color: black;
  width: 89px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 25rem;
  font-size: var(--font-size-nano);
  font-family: "Futura";
  column-gap: 8rem;
  padding: 0 6rem;
}

@media (640px <= width) {
}
@media (768px <= width) {
}
@media (1024px <= width) {
  .button__container {
    width: 191.405rem;
    height: 44.859rem;
    border-radius: 25rem;
    font-size: var(--font-size-base);
    /* column-gap: 8rem; */
    padding: 10rem;
  }
}
@media (1280px <= width) {
}
